table {
  text-align: center;
  th {
    text-align: center;
    background-color: #f2f2f2;
  }
}

input[type=number]{
  width: 70px;
  height: 38px;
  margin-right: 4px;
}
.bold {
  font-weight: bold;
}
.center_header {
  text-align: center;
}