.table {
  text-align: center;
  thead {
    tr {
      th {
        vertical-align: middle;
      }
    }
  }
  th {
    text-align: center;
    background-color: #f7f7f9;
  }
  th[scope='colgroup'] {
    background-color: #f2f2f2;
    font-size: 1.3em;
  }
}

td input[type=number]{
  width: 95px;
  height: 38px;
  margin-bottom: 4px;
}
.bold {
  font-weight: bold;
}
.center_header {
  text-align: center;
}