h1 Account № #{@account.id}
p Bookmaker: #{@account.bookmaker}
p Age: #{@account.age}
p Comment: #{@account.comment}
p User: #{@account.user.name}
p= link_to 'Manage your accounts', manage_accounts_accounts_path